<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ratatouille">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cooking"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cooking"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ratatouille">
        <activity android:name=".Activity.AboutUsActivity"></activity>
        <activity android:name=".Activity.RecipieDetailActivity" />
        <activity android:name=".Activity.UserProfileActivity" />
        <activity android:name=".Activity.addRecipe" />
        <activity android:name=".Authentication.Login" />
        <activity android:name=".Activity.Survey_Form" />
        <activity android:name=".Activity.StartActivity" />
        <activity android:name=".Authentication.Register" />
        <activity android:name=".SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>